<% puts "Visiting show page" %>

<% p @restaurant %>



<div class="row">
  <div class="col-lg-8">
    <h2>
      <%= @restaurant.name %>
  </h2>
    <div class="mb-3">
      <p><strong>Category: </strong><%= @restaurant.category.capitalize %></p>
      <p><strong>Address: </strong><%= @restaurant.address %></p>
      <p><strong>Phone number: </strong><%= @restaurant.phone_number %></p>
    </div>

    <h3>Reviews</h3>
    <% if @restaurant.reviews.count(:rating) > 0 %>
      <p><%= (@restaurant.reviews.average(:rating) * 2.0).round / 2.0 %> of 5 average rating from <%= @restaurant.reviews.count(:rating) %> ratings</p>
    <% else %>
      <p>No ratings yet, be the first!</p>
    <% end %>

    <% @restaurant.reviews.each do |review| %>

    <div class="card shadow-sm p-3 mb-3">
      <p class="m-0"><em>"<%= review.content %>"</em></p>
      <p class="m-0"><%= review.rating %> of 5</p>
    </div>

    <% end %>
  </div>

  <div class="col-lg-4">
    <h3>Add a review</h3>
    <div class="p-3">
      <%= simple_form_for([@restaurant, @review]) do |f| %>
        <%= f.input :rating, collection: [1, 2, 3, 4 ,5] ,as: :select %>
        <%= f.input :content %>
        <%= f.submit class:"btn btn-primary" %>
      <% end %>

    </div>
  </div>

</div>
